.tooltip-time {
    text-decoration:none;
    position:relative;
}
.tooltip-time span {
    display:none;
    padding: 3px;
    position:fixed;
    background-color: greenyellow;
    overflow:hidden;
}
.tooltip-timed {
    display:block;
    position:fixed;
    background-color: red;
    overflow:hidden;
}